/* example 1 */
#example1 {
  padding: 1em 0 5em 0;
  height: 1%;
  overflow: hidden;
}

#example1 .navigation {
  width: 10em;
  overflow: hidden;
  float: left;
}

#example1 .main {
  float: left;
  width: 39em;
  padding-left: 1em;
  overflow: hidden;
}

#example1 .main ul {
  padding: 0 0 0 0;
}

#example1 .main ul li {
  float: left;
  display: inline;
  margin: 0 0.5em 0.5em 0;
}

#example1 .navigation strong {
  display: block;
  color: #999999;
}

#example1 .navigation ul {
  height: 1%;
  overflow: hidden;
  padding: 0 0 1em 0;
  list-style: none;
}

#example1 .navigation ul li {
  float: left;
  display: inline;
  padding-bottom :0.1em;
}

#example1 .navigation ul li a {
  float: left;
  font-size: 0.9em;
  padding: 0.2em 0.3em;
  margin: 0 0.3em 0.3em 0;
  background: #FFFFFF;
}

#example1 .navigation ul li a.active {
  color: #FFFFFF;
  background: #666666;
}



/* example 2 */
#example2 {
  padding: 1em 0 5em 0;
  height: 1%;
  overflow: hidden;
}

#example2 .navigation {
  width: 10em;
  overflow: hidden;
  float: left;
}

#example2 .navigation ul {
  padding: 0 0 0 0;
  list-style: none;
  text-align: center;
}

#example2 .navigation ul li {
  display: inline;
  list-style: none;
}

#example2 .navigation ul li a.active{
  background: #999999;
  text-decoration: none;
  color: #FFFFFF;
}

#example2 .main {
  float: left;
  width: 39em;
  padding-left: 1em;
  overflow: hidden;
}

#example2 .main ul {
  padding: 0 0 0 0;
  border-top: 1px solid #f2f2f2;
}

#example2 .main ul li {
  display: block;
  border-bottom: 1px solid #f2f2f2;
  background: #FFFFFF;
  color: #666666;
}

#example2 .main ul li span {
  display: block;
  padding: 0.4em 1em;
}

#example2 .main ul li strong {
  font-size: 1.1em;
  display: block;
  color: #333;
}

