<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><%= @page.title %> - demo.mamuso.net</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <script type="text/javascript" src="http://use.typekit.com/erl0mqu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="stylesheets/base.css" type="text/css" media="screen" title="no title" charset="utf-8"/>

</head>
<body>
  <div id="overcont">
    <div class="wrapper">

      <div id="content">
        <div id="header">
          <a href="http://mamuso.net" class="logo">mamuso.net</a>
        </div>
        
        <div class="post">
          <%= @page_rep.content %>
        </div><!-- post -->
        
        <hr/>
        <div id="footer">
          <a href="http://mamuso.net">
            <img src="http://s3.amazonaws.com/lcp/mamuso/myfiles/assets/minigrey.gif">
          </a>
        </div>
      </div><!-- #content -->
    </div>
  </div>

  <%= get_content_for :footer %>

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-262914-1");
    pageTracker._setDomainName(".mamuso.net");
    pageTracker._trackPageview();
    } catch(err) {}
    </script>

    <script language="javascript" src="javascripts/shCore.js"></script>
    <script language="javascript" src="javascripts/shBrushJscript.js"></script>
    <script language="javascript" src="javascripts/shBrushCss.js"></script>
    <script language="javascript" src="javascripts/shBrushRuby.js"></script>
    <script language="javascript">
    dp.SyntaxHighlighter.HighlightAll('code');
    </script>

  </body>
  </html>