

#customfile.active {
  position: absolute;
  width: 20em;
  height: 3em;
  overflow: hidden;
  opacity: 0.0;
}

#customfile.active input{
  position: absolute;
  font-size: 10em;
  right: 0;
  cursor: pointer;
}

#customfile-fake {
  display: none;
}

#customfile-fake.active {
  display: block;
  clear: both;
  overflow: hidden;
  height: 1%;
}

#customfile-fake #customfile-fake-name {
  float: left;
  display: inline;
  width: 10em;
  padding: 0.3em;
  margin-right: 0.3em;
  border: 1px dashed #CCCCCC;
  color: #333333;
  overflow: hidden;
  white-space: nowrap;
}

#customfile-fake button {
  float: left;
  border: 1px solid #CCCCCC;
  background: #CCCCCC;
  color: #333333;
  width: 8em;
  height: 2.4em;
}